fastapi==0.109.2
uvicorn==0.27.1
python-dotenv==1.0.1
pydantic==2.6.1
pydantic-settings==2.1.0
langchain==0.1.9
langchain-community==0.0.24
openai==1.12.0
youtube-transcript-api==0.6.2
lancedb==0.5.3
pytube==15.0.0
opencv-python==4.9.0.80
motor==3.3.2
pymongo==4.6.2
transformers==4.38.2
torch==2.2.0
Pillow==10.2.0
numpy==1.26.4
